$primary_color: #2ea8df;
$secondary_color: #c5def4;
$bg_color: #3b3b3b;
$text_color: rgb(252, 252, 252);

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: $bg_color;
  color: $text_color;
  max-width: 400px;
  padding: 5rem 1rem;
  margin: 0 auto;
}

h1 {
  color: $primary_color;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.btn {
  background: hwb(199 18% 13% / 0.219);
  border: $primary_color 1px solid;
  color: $primary_color;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus-visible {
    background: $bg_color;
  }

  &.btn-danger {
    background: $bg_color;
    border: 1px solid red;
    color: red;
    &:hover,
    &:focus-visible {
      background: rgba(255, 0, 0, 0.219);
    }
  }
}

.new-item-form input {
  outline: none;
  border: 2px solid $primary_color;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  &:focus {
    border: 3px solid $primary_color;
  }
}

.header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.list {
  margin: 0;
  padding: 0;
  margin-left: 0.3rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  & li {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    border-bottom: 1px solid rgb(206, 206, 206);
    padding-bottom: 5px;
    margin-bottom: 5px;
    & label {
      display: flex;
      gap: 0.5rem;
      cursor: pointer;
      align-items: center;
    }
    & :has(input:focus-visible) label {
      outline: 1px solid $primary_color;
    }
  }
}
.check-parent {
  display: flex;
  & input {
    margin-right: 10px;
  }
  & .check-with-label:checked + .label-for-check {
    color: $secondary_color;
    text-decoration: line-through;
  }
}
